GeneratorModel for yakindu::arduino_cpp {

	statechart ${statechartName} {

		feature Outlet {
			targetProject = "${projectName}"
			targetFolder = "${srcGenFolder}"
		}

		feature Arduino {
			userSrcFolder = "${srcFolder}"
			timer = "${timer}"
			cyclePeriod = "${cyclePeriod}"
		}
	}
}