<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.yakindu.sct.arduino.ui.wizard.category"
            class="org.yakindu.sct.arduino.ui.wizards.NewArduinoSCTProjectWizard"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
            icon="icons/yakindu16.png"
            id="org.yakindu.sct.arduino.ui.wizard.project"
            name="Arduino Project with YAKINDU Statechart"
            preferredPerspectives="org.eclipse.cdt.ui.CPerspective,org.yakindu.sct.ui.ModelingPerspective,org.yakindu.sct.ui.SimulationPerspective"
            project="true">
      </wizard>
      <category
            id="org.yakindu.sct.arduino.ui.wizard.category"
            name="YAKINDU Statechart Tools for Arduino">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.yakindu.sct.arduino.ui.SCTArduinoUIExecutableExtensionFactory:org.yakindu.sct.arduino.ui.editors.ArduinoSGenEditor"
            contributorClass="org.yakindu.sct.arduino.ui.editors.ArduinoSGenEditorContributor"
            extensions="sgen"
            icon="icons/yakindu16.png"
            id="org.yakindu.sct.arduino.ui.editors.ArduinoSGenEditor"
            name="YAKINDU SGen for Arduino Editor">
      </editor>
   </extension>

</plugin>
