<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.yakindu.sct.arduino.generator.cpp.architectures" name="C++ Generators Target Architectures" schema="schema/org.yakindu.sct.arduino.generator.cpp.architectures.exsd"/>
   <extension
         point="org.yakindu.sct.generator.core.generator">
      <SCTGenerator
            bindings="org.yakindu.sct.arduino.generator.cpp.ArduinoCppCodeGeneratorModule"
            contentType="statechart"
            description="YAKINDU Statechart Tools for Arduino C++ Code Generator"
            elementRefType="org.yakindu.sct.model.sgraph.Statechart"
            executor="org.yakindu.sct.arduino.generator.cpp.ArduinoCppCodeGenerator"
            id="yakindu::arduino_cpp"
            name="YAKINDU Statechart Tools for Arduino C++ Code Generator">
            <FeatureLibrary
            	library_id="org.yakindu.generator.core.features.adapted">
            </FeatureLibrary>
            <FeatureLibrary
                  library_id="org.yakindu.sct.arduino.feature.library">
            </FeatureLibrary>
      </SCTGenerator>
   </extension>
 <extension point="org.yakindu.sct.generator.core.extensions">
	 	<ExtensionGeneratorMapping fileExtension="sct" generatorId="yakindu::arduino_cpp">
	 	</ExtensionGeneratorMapping>
 	</extension>
 <extension
       point="org.yakindu.sct.generator.core.featuretypes">
    <FeatureLibrary
          defaultProvider="org.yakindu.sct.arduino.generator.cpp.features.CoreDefaultFeatureValueProvider"
          library_id="org.yakindu.generator.core.features.adapted"
          uri="platform:/plugin/org.yakindu.sct.generator.core/library/CoreFeatureTypeLibrary.xmi">
    </FeatureLibrary>
    <FeatureLibrary
          defaultProvider="org.yakindu.sct.arduino.generator.cpp.features.ArduinoDefaultFeatureValueProvider"
          library_id="org.yakindu.sct.arduino.feature.library"
          uri="platform:/plugin/org.yakindu.sct.arduino.generator.cpp/library/ArduinoFeatureTypeLibrary.xmi">
    </FeatureLibrary>
 </extension>
 <extension
       point="org.yakindu.sct.arduino.generator.cpp.architectures">
    <architecture
          id="org.yakindu.sct.arduino.generator.cpp.architecture.software"
          kind="software"
          name="Software">
       <timer
             cppCodeGenerator="org.yakindu.sct.arduino.generator.cpp.timers.SoftwareTimer_Millis"
             description="Software Timer based on millis() function. Does not support any sleep mode."
             id="software.counter"
             minCyclePeriod="1"
             name="Milliseconds Counter">
       </timer>
    </architecture>
    <architecture
          id="org.yakindu.sct.arduino.generator.cpp.architecture.attiny85"
          kind="attiny"
          name="Atmel ATtiny25/V-45/V-85/V">
       <timer
             cppCodeGenerator="org.yakindu.sct.arduino.generator.cpp.timers.ATtiny_Timer0"
             description="Hardware timer based on Timer/Counter0. It supports only the idle sleep mode between cycles."
             id="attiny.timer0"
             maxCyclePeriod="1048560"
             minCyclePeriod="1"
             name="Timer/Counter0 (8 bit)">
       </timer>
       <timer
             cppCodeGenerator="org.yakindu.sct.arduino.generator.cpp.timers.ATtiny_Timer1"
             description="Hardware timer based on Timer/Counter1. It supports only the idle sleep mode between cycles."
             id="attiny.timer1"
             maxCyclePeriod="1048560"
             minCyclePeriod="1"
             name="Timer/Counter1 (8 bit)">
       </timer>
    </architecture>
    <architecture
          id="org.yakindu.sct.arduino.generator.cpp.architecture.atmega328p"
          kind="atmega"
          name="Atmel ATmega48A/PA-88A/PA-168A/PA-328P">
       <timer
             cppCodeGenerator="org.yakindu.sct.arduino.generator.cpp.timers.ATmega_Timer0"
             description="Hardware timer based on Timer/Counter0. It supports only the idle sleep mode between cycles."
             id="atmega328p.timer0"
             maxCyclePeriod="1048560"
             minCyclePeriod="1"
             name="Timer/Counter0 (8 bit)">
       </timer>
       <timer
             cppCodeGenerator="org.yakindu.sct.arduino.generator.cpp.timers.ATmega_Timer1"
             description="Hardware timer based on Timer/Counter1. It supports only the idle sleep mode between cycles."
             id="atmega328p.timer1"
             maxCyclePeriod="1068960"
             minCyclePeriod="1"
             name="Timer/Counter1 (16 bit)">
       </timer>
       <timer
             cppCodeGenerator="org.yakindu.sct.arduino.generator.cpp.timers.ATmega_Timer2"
             description="Hardware timer based on Timer/Counter2. It supports only the idle and power save sleep modes between cycles. Note, the power save sleep mode prevents other timers from being executed."
             id="atmega328p.timer2"
             maxCyclePeriod="1048560"
             minCyclePeriod="1"
             name="Timer/Counter2 (8 bit)">
       </timer>
       <timer
             cppCodeGenerator="org.yakindu.sct.arduino.generator.cpp.timers.ATmega_WDT"
             description="Hardware timer based on the watchdog timer. It supports all sleep modes. Note, other sleep modes than IDLE prevent other timers from being executed."
             id="atmega.wdt"
             maxCyclePeriod="1000000"
             minCyclePeriod="1"
             name="Watchdog Timer"
             preDefinedCyclePeriods="16,32,64,125,250,500,1000,2000,4000,8000">
       </timer>
    </architecture>
    <architecture
          id="org.yakindu.sct.arduino.generator.cpp.architecture.atmega2560"
          kind="atmega"
          name="Atmel ATmega640/V-1280/V-1281/V-2560/V-2561/V">
       <timer
             cppCodeGenerator="org.yakindu.sct.arduino.generator.cpp.timers.ATmega_Timer0"
             description="Hardware timer based on Timer/Counter0. It supports only the idle sleep mode between cycles."
             id="atmega2560.timer0"
             maxCyclePeriod="1048560"
             minCyclePeriod="1"
             name="Timer/Counter0 (8 bit)">
       </timer>
       <timer
             cppCodeGenerator="org.yakindu.sct.arduino.generator.cpp.timers.ATmega_Timer1"
             description="Hardware timer based on Timer/Counter1. It supports only the idle sleep mode between cycles."
             id="atmega2560.timer1"
             maxCyclePeriod="1068960"
             minCyclePeriod="1"
             name="Timer/Counter1 (16 bit)">
       </timer>
       <timer
             cppCodeGenerator="org.yakindu.sct.arduino.generator.cpp.timers.ATmega_Timer2"
             description="Hardware timer based on Timer/Counter2. It supports only the idle and power save sleep modes between cycles. Note, the power save sleep mode prevents other timers from being executed."
             id="atmega2560.timer2"
             maxCyclePeriod="1048560"
             minCyclePeriod="1"
             name="Timer/Counter2 (8 bit)">
       </timer>
       <timer
             cppCodeGenerator="org.yakindu.sct.arduino.generator.cpp.timers.ATmega_Timer3"
             description="Hardware timer based on Timer/Counter3. It supports only the idle sleep mode between cycles."
             id="atmega2560.timer3"
             maxCyclePeriod="1068960"
             minCyclePeriod="1"
             name="Timer/Counter3 (16 bit)">
       </timer>
       <timer
             cppCodeGenerator="org.yakindu.sct.arduino.generator.cpp.timers.ATmega_Timer4"
             description="Hardware timer based on Timer/Counter4. It supports only the idle sleep mode between cycles."
             id="atmega2560.timer4"
             maxCyclePeriod="1068960"
             minCyclePeriod="1"
             name="Timer/Counter4 (16 bit)">
       </timer>
       <timer
             cppCodeGenerator="org.yakindu.sct.arduino.generator.cpp.timers.ATmega_Timer5"
             description="Hardware timer based on Timer/Counter5. It supports only the idle sleep mode between cycles."
             id="atmega2560.timer5"
             maxCyclePeriod="1068960"
             minCyclePeriod="1"
             name="Timer/Counter5 (16 bit)">
       </timer>
       <timer
             cppCodeGenerator="org.yakindu.sct.arduino.generator.cpp.timers.ATmega_WDT"
             description="Hardware timer based on the watchdog timer. It supports all sleep modes. Note, other sleep modes than IDLE prevent other timers from being executed."
             id="atmega.wdt"
             maxCyclePeriod="1000000"
             minCyclePeriod="1"
             name="Watchdog Timer"
             preDefinedCyclePeriods="16,32,64,125,250,500,1000,2000,4000,8000">
       </timer>
    </architecture>
    <architecture
          id="org.yakindu.sct.arduino.generator.cpp.architecture.atmega32u4"
          kind="atmega"
          name="Atmel ATmega16u4-32u4">
       <timer
             cppCodeGenerator="org.yakindu.sct.arduino.generator.cpp.timers.ATmega_Timer0"
             description="Hardware timer based on Timer/Counter0. It supports only the idle sleep mode between cycles."
             id="atmega32u4.timer0"
             maxCyclePeriod="1048560"
             minCyclePeriod="1"
             name="Timer/Counter0 (8 bit)">
       </timer>
       <timer
             cppCodeGenerator="org.yakindu.sct.arduino.generator.cpp.timers.ATmega_Timer1"
             description="Hardware timer based on Timer/Counter1. It supports only the idle sleep mode between cycles."
             id="atmega32u4.timer1"
             maxCyclePeriod="1068960"
             minCyclePeriod="1"
             name="Timer/Counter1 (16 bit)">
       </timer>
       <timer
             cppCodeGenerator="org.yakindu.sct.arduino.generator.cpp.timers.ATmega_Timer3"
             description="Hardware timer based on Timer/Counter3. It supports only the idle sleep mode between cycles."
             id="atmega32u4.timer3"
             maxCyclePeriod="1068960"
             minCyclePeriod="1"
             name="Timer/Counter3 (16 bit)">
       </timer>
       <timer
             cppCodeGenerator="org.yakindu.sct.arduino.generator.cpp.timers.ATmega_WDT"
             description="Hardware timer based on the watchdog timer. It supports all sleep modes. Note, other sleep modes than IDLE prevent other timers from being executed."
             id="atmega.wdt"
             maxCyclePeriod="1000000"
             minCyclePeriod="1"
             name="Watchdog Timer"
             preDefinedCyclePeriods="16,32,64,125,250,500,1000,2000,4000,8000">
       </timer>
    </architecture>
     <architecture
           id="org.yakindu.sct.arduino.generator.cpp.architecture.esp8266"
           kind="esp8266"
           name="ESP8266">
       <timer
             cppCodeGenerator="org.yakindu.sct.arduino.generator.cpp.timers.ESP8266_Timer"
             description="Software Timer (OS) of the ESP8266. Does not support any sleep modes."
             id="esp8266.ostimer"
             minCyclePeriod="5"
             maxCyclePeriod="6870947"
             name="OS Software Timer">
       </timer>
    </architecture>
 </extension>
</plugin>
