<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.yakindu.sct.generator.core.generator">
      <SCTGenerator class="org.yakindu.sct.arduino.generator.cpp.ArduinoCppCodeGenerator"
            description="YAKINDU Statechart Tools for Arduino C++ Code Generator"
            id="yakindu::arduino_cpp"
            name="YAKINDU Statechart Tools for Arduino C++ Code Generator"
            contentType="statechart"
            elementRefType="org.yakindu.sct.model.sgraph.Statechart">
            <FeatureLibrary
            	library_id="org.yakindu.generator.core.features.adapted">
            </FeatureLibrary>
            <FeatureLibrary
                  library_id="org.yakindu.sct.arduino.feature.library">
            </FeatureLibrary>
      </SCTGenerator>
   </extension>
 <extension point="org.yakindu.sct.generator.core.extensions">
	 	<ExtensionGeneratorMapping fileExtension="sct" generatorId="yakindu::arduino_cpp">
	 	</ExtensionGeneratorMapping>
 	</extension>
 <extension
       point="org.yakindu.sct.generator.core.featuretypes">
    <FeatureLibrary
          defaultProvider="org.yakindu.sct.arduino.generator.cpp.features.CoreDefaultFeatureValueProvider"
          library_id="org.yakindu.generator.core.features.adapted"
          uri="platform:/plugin/org.yakindu.sct.generator.core/library/CoreFeatureTypeLibrary.xmi">
    </FeatureLibrary>
    <FeatureLibrary
          defaultProvider="org.yakindu.sct.arduino.generator.cpp.features.ArduinoDefaultFeatureValueProvider"
          library_id="org.yakindu.sct.arduino.feature.library"
          uri="platform:/plugin/org.yakindu.sct.arduino.generator.cpp/library/ArduinoFeatureTypeLibrary.xmi">
    </FeatureLibrary>
 </extension>
</plugin>
