<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.yakindu.sct.arduino.examples.category"
            name="YAKINDU Statechart Tools for Arduino Examples"
            parentCategory="org.eclipse.ui.Examples">
      </category>
      <wizard
            category="org.eclipse.ui.Examples/org.yakindu.sct.arduino.examples.category"
            class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
            icon="icons/yakindu16.png"
            id="org.yakindu.sct.arduino.examples.pedestrianCrossing"
            name="Pedestrian Crossing"
            preferredPerspectives="org.eclipse.cdt.ui.CPerspective,org.yakindu.sct.ui.ModelingPerspective,org.yakindu.sct.ui.SimulationPerspective"
            project="true">
         <description>
            A pedestrian crossing traffic light running on an Arduino Uno.
         </description>
      </wizard>
      <wizard
            category="org.eclipse.ui.Examples/org.yakindu.sct.arduino.examples.category"
            class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
            icon="icons/yakindu16.png"
            id="org.yakindu.sct.arduino.examples.blink"
            name="Blink"
            preferredPerspectives="org.eclipse.cdt.ui.CPerspective,org.yakindu.sct.ui.ModelingPerspective,org.yakindu.sct.ui.SimulationPerspective"
            project="true">
         <description>
            The typical Arduino &quot;Hello World&quot; example - a blinking LED - running on an Arduino Uno.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.emf.common.ui.examples">
      <example
            pageImage="icons/yakindu48.png"
            wizardID="org.yakindu.sct.arduino.examples.pedestrianCrossing">
         <projectDescriptor
               contentURI="projects/PedestrianCrossing.zip"
               description="A pedestrian crossing traffic light running on an Arduino Uno."
               name="PedestrianCrossing">
         </projectDescriptor>
         <fileToOpen
               location="PedestrianCrossing/model/PedestrianCrossing.sct">
         </fileToOpen>
      </example>
      <example
            pageImage="icons/yakindu48.png"
            wizardID="org.yakindu.sct.arduino.examples.blink">
         <projectDescriptor
               contentURI="projects/Blink.zip"
               description="The typical Arduino&quot;Hello World&quot; example - a blinking LED - running on an Arduino Uno."
               name="Blink">
         </projectDescriptor>
         <fileToOpen
               location="Blink/model/Blink.sct">
         </fileToOpen>
      </example>
   </extension>

</plugin>
